[FR] openssh-certificates

Hi,

is there any hope that you might support converting the public keys into ssh-certificates to use ssh's integrated certificate system for authenticating users? I didn't find anything in the existing issues.

I.e.
1. I import a smartcard into putty-cac...
2. ... take the `ssh-rsa ...` key and have it signed by the ssh-ca...
3. ...store the resulting `ssh-rsa-cert-v01@openssh.com ...` somewhere in putty-cac. As it doesn't have to be kept secret that shouldn't be too much of an issue.
4. I Authenticate on the server with that cert. That would require supporting the algorithm. I have no idea how complicated that would be.

It would make my life quite a bit easier. :)

Thanks
Stefan



Isn't this what issue https://github.com/NoMoreFood/putty-cac/issues/9 is?   I think it's actually quite a complicated thing to implement compared to how PuTTY CAC integrates currently (i.e., with very minimal changes to the upstream source code).   Maybe I'll consider it after the next version of PuTTY is released since I can see Simon has quite a few major structural changes in the upstream that I'll have to integrate.

I don't think so, **openssh's** certificates are not based on X.509 at all. The system is much simpler, there is no signing requests or anything like that.

### Create authority

You just create a key with ssh-keygen like normal
```
ssh-keygen -f ~/.ssh_ca
```
This is now your certificate authority.

### Sign key

You can then sign any key with
```
ssh-keygen -s ~/ssh_ca -I "key identifier" -n username -V -5m:+30d ~/.ssh/id_rsa.pub
```
which creates the certificate `id_rsa-cert.pub`.

### Add authority to server
Now copy `ssh_ca.pub` to any server and add the following line to its `/etc/sshd_config`:
```
TrustedUserCAKeys /etc/ssh/ssh_ca.pub
```

Voila, login via certificate.

### How hard can it be? :)

From what I understand from [this](https://cvsweb.openbsd.org/src/usr.bin/ssh/PROTOCOL.certkeys?annotate=HEAD) this is basically just another public key you send instead of the usual key

                     62: Authentication using the new key formats described below proceeds
                     63: using the existing SSH "publickey" authentication method described
                     64: in RFC4252 section 7.

So it just needs a way to associate the signed key with the certificate.

From a wish for putty [here](https://www.chiark.greenend.org.uk/~sgtatham/putty/wishlist/ssh2-openssh-certkeys.html) I take that it should be easier for putty-cac than mainline putty:

    While the changes to the SSH protocol are trivial, the necessary modifications to the PuTTY 
    private key file and to PuTTYgen might be a little more complicated, and host certificates 
    would have to be integrated into PuTTY's host-key checking mechanisms.

You don't use ppk (as the private key is on a smartcard) and don't need a working PuTTYgen and there is no worries if you just store the signed public key somewhere on the client computer. And the FR is only for user authentication, not host certificates.

Sorry for this wall of text. I fear, I probably misunderstood #9 and you'll just laugh at me because it's the same thing. :)

Ciao,
Stefan

The chances are slim, but on the off chance if you have 5 minutes could you please confirm or deny the following statements :)?

1. You extract the public key from a X509 and put it in pageant
2. You've hacked pageant so that all requests for the private key go through the Windows cert infrastructure?
3. You've only changed putty source code within `#ifdef PUTTY_CAC` statements
4. The first step would probably be to change `ssh2_userkey_loadpub` so it provides an alternative to getting the pubkey from `cert_load_key`'s `public_blob`

1. True
2. True
3. True
4. Unsure. I haven't looked yet at the specification, but I assume two new things will have to happen. a) We will have transit the entire signed, public certificate to the server in some form (that's typically how cert-based authentication works).  I am unsure what needs to be done to existing code to do this because right now we just upload very specific parts to an existing structure and pass it back.  I doubt the existing structure has the fields to support sending this additional data. b) The key identifier ('ssh-rsa-cert-v01@openssh.com') will need to added in somewhere to streer the authentication mode to support this new mechanism. 

Any news about adding the support of SSH certificates? It would be a fantastic feature!

@CaptAintHere I've looked into it and determined the change would be too invasive for me to handle in this fork.  This sort of feature would need to be added upstream in order to be maintained.

@stefanfritsch @CaptAintHere you might be interested in this comment https://github.com/NoMoreFood/putty-cac/issues/48#issuecomment-650969229 